testnet=1
server=1
disablewallet=1
rpcuser=stacks
rpcpassword=foundation
rpcallowip=0.0.0.0/0
dbcache=512
banscore=1
rpcthreads=256
rpcworkqueue=256
rpctimeout=100

[test]
bind=0.0.0.0:18333
rpcbind=0.0.0.0:18332
rpcport=18332