[node]
working_dir = "/root/stacks-node/current"
rpc_bind = "0.0.0.0:${STACKS_RPC_PORT}"
p2p_bind = "0.0.0.0:${STACKS_P2P_PORT}"
seed = "cb3df38053d132895220b9ce471f6b676db5b9bf0b4adefb55f2118ece2478df01"
miner = true

[burnchain]
chain = "bitcoin"
mode = "mocknet"
peer_host = "${BTC_HOST}"
rpc_port = ${BTC_RPC_PORT}
peer_port = ${BTC_P2P_PORT}

[[mstx_balance]]
address = "STB44HYPYAT2BB2QE513NSP81HTMYWBJP02HPGK6"
amount = 10000000000000000
[[mstx_balance]]
address = "ST11NJTTKGVT6D1HY4NJRVQWMQM7TVAR091EJ8P2Y"
amount = 10000000000000000
[[mstx_balance]]
address = "ST1HB1T8WRNBYB0Y3T7WXZS38NKKPTBR3EG9EPJKR"
amount = 10000000000000000
[[mstx_balance]]
address = "STRYYQQ9M8KAF4NS7WNZQYY59X93XEKR31JP64CP"
amount = 10000000000000000
