COMPOSE_PROJECT_NAME=mocknet
ENVSUBST_WORKING_DIR=/srv

###############################
## Locally opened ports
##
API_STACKS_BLOCKCHAIN_API_PORT_LOCAL=3999
STACKS_FOLLOWER_RPC_PORT_LOCAL=20443
STACKS_FOLLOWER_P2P_PORT_LOCAL=20444

###############################
## Docker Images
##
ENVSUBST_IMAGE=blockstack/envsubst:latest
STACKS_IMAGE=blockstack/stacks-blockchain:latest
API_IMAGE=blockstack/stacks-blockchain-api:latest
#API_IMAGE=blockstack/stacks-blockchain-api:0.56.0-rc2  ## uncomment this to import V1 BNS Data
POSTGRES_IMAGE=postgres:alpine

###############################
## Stacks-Node-Follower
##
STACKS_FOLLOWER_NAME=${COMPOSE_PROJECT_NAME}_stacks-node-follower
STACKS_FOLLOWER_RPC_PORT=20443
STACKS_FOLLOWER_P2P_PORT=20444
STACKS_FOLLOWER_CONFIG_DIRECTORY=./stacks-node-follower
STACKS_FOLLOWER_PUBLIC_KEY=048dd4f26101715853533dee005f0915375854fd5be73405f679c1917a5d4d16aaaf3c4c0d7a9c132a36b8c5fe1287f07dad8c910174d789eb24bdfb5ae26f5f27
STACKS_FOLLOWER_WORKING_DIR=/root/stacks-node/data
STACKS_FOLLOWER_WORKING_DIR_LOCAL=./persistent-data/stacks-blockchain
STACKS_FOLLOWER_CONFIG=./stacks-node-follower/Config.toml
STACKS_FOLLOWER_CONFIG_TEMPLATE=./stacks-node-follower/Config.toml.template

###############################
## Stacks-Node-API
##
API_NAME=${COMPOSE_PROJECT_NAME}_stacks-node-api
API_STACKS_CORE_EVENT_PORT=3700
API_STACKS_BLOCKCHAIN_API_PORT=3999
API_STACKS_CORE_EVENT_HOST=0.0.0.0
API_STACKS_BLOCKCHAIN_API_HOST=0.0.0.0
API_NODE_ENV=production
API_GIT_TAG=master
API_PG_USER=stacks
API_PG_DATABASE=stacks_${COMPOSE_PROJECT_NAME}
API_PG_SCHEMA=stacks_node_api
API_STACKS_BLOCKCHAIN_API_DB=pg
API_STACKS_CHAIN_ID=2147483648
API_V2_POX_MIN_AMOUNT_USTX=90000000260
API_BNS_DATA_LOCAL=./persistent-data/bns-data
API_BNS_DATA=/bns-data

###############################
## Postgres
##
POSTGRES_NAME=${COMPOSE_PROJECT_NAME}_postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_DATA_LOCAL=./persistent-data/postgres
POSTGRES_DATA=/var/lib/postgresql/data
POSTGRES_SCRIPT=./postgres/stacks-node-api.sql
POSTGRES_SCRIPT_TEMPLATE=./postgres/stacks-node-api.sql.template

