server=1
regtest=1
rpcallowip=0.0.0.0/0
rpcallowip=::/0
rpcuser=${BTC_USER}
rpcpassword=${BTC_PW}
txindex=1
listen=1
rpcserialversion=0

[regtest]
bind=0.0.0.0:${BTC_P2P_PORT_LOCAL}
rpcbind=0.0.0.0:${BTC_RPC_PORT_LOCAL}
rpcport=${BTC_RPC_PORT_LOCAL}
